{template 'common/header'}
	<style>
		.form-group{
			overflow:hidden;
		}
	</style>
	<div class="main">
		<div class="alert alert-info" role="alert"><h4>{$_W['page']['title']}</h4></div>
		<div class="tabbable" id="tabs-848674">
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#panel-543332" data-toggle="tab">商品列表</a></li>
			  <li><a href="{php echo $this->createWebUrl('goods',array('op'=>'new'))}">添加商品</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="panel-543332">
					<form method="post" class="form-horizontal">
					<div class="panel panel-info">
						<div class="panel-heading">筛选</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
								<div class="col-xs-12 col-sm-2 col-lg-2">
									<input class="form-control" name="keyword" type="text" value="{$keyword}" placeholder="请输入商品名称">
								</div>
								<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分类</label>
								<div class="col-xs-12 col-sm-2 col-lg-2">
									<select name="cid" class="form-control">
										<option value="0">全部</option>
									</select>
								</div>
								<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
								<div class="col-xs-12 col-sm-2 col-lg-2">
									<select name="status" class="form-control">
										
										<option value="0">隐藏</option>
										<option value="1" selected>显示</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
								<div class=" col-xs-12 col-sm-2 col-lg-2">
									<input type="hidden" name="token" value="{$_W['token']}">
									
									<input type="submit" name="submit" class="btn btn-default span3" value="搜索" />
								</div>
							</div>
						</div>
					</div>
					</form>
					
					<div class="panel panel-default">
						<div class="table-responsive panel-body">
							<table class="table table-hover">
								<thead class="navbar-inner">
								<tr>
									<th>排序</th>
									<th>分类</th>
									<th>商品名称</th>
									<th>商品类型</th>
									<th>商品原价<br>购买价格</th>
									<th>剩余库存</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody id="level-list">
									{loop $goods_list $goods}
									<tr>
										<td>{$goods['goods_sort']}</td>
										<td>{$goods['class_name']}</td>
										<td><img src="{php echo toimage($goods['goods_thumb'])}" style="width:60px;height:60px;"><br>{$goods['goods_name']}<br></td>
										<td><span class="label label-info">{if $goods['is_real'] ==1}实体{else}虚拟{/if}</span></td>
										<td>￥{$goods['goods_oprice']}<br>{php echo $goods['goods_price']==0?'':'￥'.$goods['goods_price'];}{if $goods['goods_score']!=0}+{/if}{php echo $goods['goods_score']==0?'':$goods['goods_score'].'积分';}</td>
										<td>{$goods['goods_stock']}</td>
										<td data-id="43">{if $goods['goods_status']==1}<label class="label label-success">显示</label>{else}<label class="label label-warning">不显示</label>{/if}</td>
										<td>
										   <a class="btn btn-default btn-sm edit-goods" data-id ="{$goods['goods_id']}">编辑</a>
										   <a class="btn btn-danger btn-sm del-goods" data-id ="{$goods['goods_id']}">删除</a>
										</td>
									</tr>
									{/loop}
								</tbody>
							</table>
							<!-- <div> -->
								<!-- <ul class="pagination pagination-centered"> -->
									<!-- <li><a class="pager-nav">首页</a></li> -->
									<!-- <li><a href="" class="pager-nav">«上一页</a></li> -->
									<!-- <li class="active"><a href="javascript:;">1</a></li> -->
									<!-- <li><a href="" class="pager-nav">下一页»</a></li> -->
									<!-- <li><a href="" class="pager-nav">尾页</a></li> -->
								<!-- </ul> -->
							<!-- </div>     -->
						</div>
					</div>
					
					
				</div>

				
			</div>
		</div>
	</div>
	<script>
		require(['jquery'],function(){
			$(".edit-goods").on('click',function(){
				var id = $(this).data('id');
				location = "{php echo $this->createWebUrl('goods',array('op'=>'edit'));}&goods_id="+id;
			
			});
			$(".del-goods").on('click',function(){
				var id = $(this).data('id');
				location = "{php echo $this->createWebUrl('goods',array('op'=>'del'));}&goods_id="+id;
			})
		})
	</script>
{template 'common/footer'}