{template 'exchange_header'}
	<link rel="stylesheet" href="{MODULE_URL}static/css/exchange_goods.css">
	<div class="topB">
        <span onclick="goback()"><</span>
        <h3>商品详情</h3>
    </div>

    <!-- 商品图片 -->
    <div class="shangP" style="overflow:hidden;">
        <img src="{php echo toimage($goods['goods_thumb'])}" alt="" style="width:100%;">
    </div>

    <!-- 商品详情 -->
    <div class="shopBig">
        <div class="shopName">
            <div class="shopName_L">
                <p class="mingC">{$goods['goods_name']}</p>
                <p class="miaoS">{$goods['goods_title']}</p>
            </div>
            <div class="price">
                {$goods['goods_score']}积分
            </div>
        </div>
        
        <!-- 商品原价 -->
        <div class="originalPrice">
            
            <h3>现价：&yen;{$goods['goods_oprice']}</h3>
        </div>

        <!-- 底部 -->
        <div class="bottomB">
            <div class="purchase_L" >
                积分充值
            </div>
            <div class="purchase_R" id="shuiH">
                兑换商品
            </div>
        </div>
    </div>
	<script>
		$("#shuiH").on('click',function(){
		if(confirm('兑换？')){
			{if $goods['is_real'] == 1}
			wx.openAddress({
				success:function(res){
					order(addr =res.countryName+res.provinceName+res.cityName+res.detailInfo,member=res.userName,phone=res.telNumber);
				},
				cancel:function(res){
				
				
				}
			
			});
			{else}
			order();
			{/if}
		
		}
		
		});
		var order = function (addr = "",member="",phone=""){
			$.ajax({
				url:"{php echo $this->createMobileUrl('exchange_order')}",
				type:"POST",
				data:{id:"{$goods['goods_id']}",member:"{$_SESSION['ids']}",addr:addr,receiver:member,phone:phone,token:"{$_W['token']}",submit:1},
				dataType:"json",
				success:function(res){
					if(res.code ==0){
						alert('下单成功');
					
					}else{
						alert(res.error || '下单失败');
					}
				
				}
			});
		}
		
	</script>

{template 'exchange_footer'}