	<div id="kefu" style="width: 100%;height: 100%;position: fixed;top: 0;background-color: rgba(0, 0, 0,0.41);z-index: 2;display:none;">
		<img src="{php echo toimage($this->settings['qrcode'])}" style="width:80%;position: relative;left: 10%;top:10%;"/> 
	</div>
	<script>
		function kefu(){
			$("#kefu p").remove();
			$("#kefu").children('img').attr('src','{php echo toimage($this->settings["qrcode"])');
			$("#kefu").show();
			$("#kefu").children('img').show();
		}
		$("#kefu").on('click',function(){
			$(this).hide();
		
		})
		function poster_layer(){
			{if $this->settings['poster_status'] == 1}
			$("#kefu").children('img').attr('src','{php echo $this->createMobileUrl("showposter")}');
			$("#kefu").show();
			
			{else}

				var html = '<p style="font-size:.2rem;color:#fff;text-align:center;">海报功能未开启</p>';
				$("#kefu").children('img').hide();
				$("#kefu p").remove();
				$("#kefu").append(html);
				$("#kefu").show();
			{/if}
			
		}
	</script>
			
		<div class="text-center footer" style="margin:10px 0; width:100%; text-align:center; word-break:break-all;font-size:14px;">
			{if !empty($this->settings['web_copy'])}{php echo $this->settings['web_copy']}{/if}
		</div>
		
	</div>
	<style>
		h5{color:#555;}
	</style>
	<?php
		$_share = array(
			'title'   => $this->settings['share_title'],
			'link'    => $_W['siteroot'].'app/'.$this->createMobileUrl('home'),
			'imgUrl'  => tomedia($this->settings['share_img']),
			'content' => $this->settings['share_desc']
		);
	
		$_share['title'] = !empty($_share['title']) ? $_share['title'] : $_W['account']['name'];
		$_share['imgUrl'] = !empty($_share['imgUrl']) ? $_share['imgUrl'] : '';
		if(isset($_share['content'])){
			$_share['desc'] = $_share['content'];
			unset($_share['content']);
		}
		$_share['desc'] = !empty($_share['desc']) ? $_share['desc'] : '';
		$_share['desc'] = preg_replace('/\s/i', '', str_replace('	', '', cutstr(str_replace('&nbsp;', '', ihtmlspecialchars(strip_tags($_share['desc']))), 60)));
		if(empty($_share['link'])) {
			$_share['link'] = '';
			$query_string = $_SERVER['QUERY_STRING'];
			if(!empty($query_string)) {
				parse_str($query_string, $query_arr);
				$query_arr['u'] = $_W['member']['uid'];
				$query_string = http_build_query($query_arr);
				$_share['link'] = $_W['siteroot'].'app/index.php?'. $query_string;
			}
		}
		
	?>
	<script type="text/javascript">
	$(function(){
//       alert(location.href.split('#')[0]);return false;
		wx.config(jssdkconfig);
		var $_share = {php echo json_encode($_share);};
        if(typeof sharedata == 'undefined'){
			sharedata = $_share;
		} else {
			sharedata['title'] = sharedata['title'] || $_share['title'];
			sharedata['desc'] = sharedata['desc'] || $_share['desc'];
			sharedata['link'] = sharedata['link'] || $_share['link'];
			sharedata['imgUrl'] = sharedata['imgUrl'] || $_share['imgUrl'];
		}
		if(sharedata.imgUrl == ''){
			var _share_img = $('body img:eq(0)').attr("src");
			if(_share_img){
				sharedata['imgUrl'] = util.tomedia(_share_img);
			}
		}
		if(sharedata.imgUrl == ""){
			sharedata.imgUrl = window.sysinfo.attachurl + 'images/global/wechat_share.jpg';
		}
		if(sharedata.desc == ''){
			var _share_content = util.removeHTMLTag($('body').html());
			if(typeof _share_content == 'string'){
				sharedata.desc = _share_content.replace($_share['title'], '')
			}
		}

		// alert(JSON.stringify($_share));return false;

		wx.ready(function () {
			wx.onMenuShareAppMessage(sharedata);
			wx.onMenuShareTimeline(sharedata);
			wx.onMenuShareQQ(sharedata);
			wx.onMenuShareWeibo(sharedata);
		});
		{if $controller == 'site' && $action == 'site'}
			$('#category_show').click(function(){
				$('.head .order').toggleClass('hide');
				return false;
			});
			//文章点击和分享加积分
			{if !empty($_GPC['u'])}
				var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'click', 'u' => $_GPC['u']), true);}";
				$.post(url, function(dat){});
			{/if}
			sharedata.success = function(){
				var url = "{php echo url('site/site/handsel/', array('id' => $detail['id'], 'action' => 'share'));}";
				$.post(url, function(dat){});
			}
		{/if}
		if ($('.js-quickmenu').size() > 0) {
			// var h = $('.js-quickmenu .nav-home').height()+20+'px';
			// $('body').css("padding-bottom",h);
			// $('body .mui-content').css("bottom",h);
		} else if($('.nav-menu-app').size() > 0) {
			var h = $('.nav-menu-app').height()+'px';
			$('body').css("padding-bottom",h);
			$('.mui-content').css('bottom',h);
		} else {
			$('body').css("padding-bottom", "0");
			$('.mui-content').css('bottom', "0");
		}
	});
	</script>
	
		<script type="text/javascript" src="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=utility&a=visit&do=showjs&m={$_W['current_module']['name']}"></script>
	
</body>
</html>
<script src="{$_W['siteroot']}app/resource/js/require.js" defer async="true" ></script>