{template 'header'}
{template 'style'}
<link rel="stylesheet" href="{MODULE_URL}static/css/myteam.css">
<div class="topB bgcolor">
    我的团队
</div>

<div class="head_nav_wrap">
    <ul class="head_nav">
            <li class="option selected">一级</li>
            <li class="option">二级</li>
            <li class="option">三级</li>
        </ul>
    </div>

    <div class="chengY">
        <img src="{MODULE_URL}static/img/xinxi.png" alt="">
        <div class="chengY_left">
            成员信息
        </div>
        <div class="chengY_right">
            提现佣金/下级分销商
        </div>
    </div>

    <div class="reward-list" style="display:block;">
        <table class="imagetable">
            <tr>
                <th>用户</th><th>佣金</th><th>时间</th>
            </tr>
            {loop $reward_list1 $reward}
            <tr>
                <td><img src="{$reward['member_avatar']}" alt=""></td>
                <td>{$reward['money']}</td>
                <td>{$reward['add_time']}</td>
            </tr>
            {/loop}
        </table>
    </div>


    <div class="reward-list" style="display:none;">
        <table class="imagetable">
            <tr>
                <th>用户</th><th>佣金</th><th>时间</th>
            </tr>
            {loop $reward_list2 $reward}
            <tr>
                <td><img src="{$reward['member_avatar']}" alt=""></td>
                <td>{$reward['money']}</td>
                <td>{$reward['add_time']}</td>
            </tr>
            {/loop}
        </table>
    </div>
    <div class="reward-list" style="display:none;">
        <table class="imagetable">
            <tr>
                <th>用户</th><th>佣金</th><th>时间</th>
            </tr>
            {loop $reward_list3 $reward}
            <tr>
                <td><img src="{$reward['member_avatar']}" alt=""></td>
                <td>{$reward['money']}</td>
                <td>{$reward['add_time']}</td>
            </tr>
            {/loop}
        </table>
    </div>
    <script>
       $('.option').on('click',function(){
            $(this).addClass('selected');
            $(this).siblings('li').removeClass('selected');
            $('.reward-list').hide();
            $('.reward-list').eq($(this).index()).show();
       }) 
    </script>
{template 'footer'}