{template 'header'}
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/rank.css"/>
	<script src="{MODULE_URL}static/js/rem.js" type="text/javascript" charset="utf-8"></script>
	<script src="{MODULE_URL}static/js/rank.js" type="text/javascript" charset="utf-8"></script>
	<div class="top">
		<h1>排行榜</h1>
		<!-- <p>数据更新于:<span>hahahahah</span></p> -->
		<h2>代理收益榜</h2>
	</div>
	<div class="center">
		{loop $rank_list $k $rank}
		<div class="head" style="display: block;">
			<div class="left">{php echo $k+1}</div>
			<div class="right">
				<a href="JavaScript:;">
					<img src="{$rank['member_avatar']}">
				</a>
				<div class="text">
					<h1>{$rank['member_nickname']}</h1>
					<h2>代理收益:<span>{$rank['reward']}元</span></h2>
				</div>
			</div>
		</div>
		{/loop}
		
	</div>
{template 'footer'}
