{template 'header'}
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/rank.css"/>
	<div class="beiJ">
		<img class="beiJ_T" src="{MODULE_URL}static/img/beiJ.gif" alt="">
		<img class="fanH" src="{MODULE_URL}static/img/fanH.gif" alt="" onclick="history.go(-1)">
		<img class="jiangB" src="{MODULE_URL}static/img/222.png" alt="">
		<img class="caiD" src="{MODULE_URL}static/img/1111.png" alt="">
		<img class="caiD_copy" src="{MODULE_URL}static/img/1111.png" alt="">
		<img class="jingY" src="{MODULE_URL}static/img/333.png" alt="">


		<!-- 排行榜 -->
		<div class="paiH">
			<div class="paiH_T">
				<div class="paiM">
					排名
				</div>
				<div class="yongH">
					用户
				</div>
				<div class="niC">
					昵称
				</div>
				<div class="jiF">
					代理收益
				</div>
			</div>
			{loop $rank_list $k $rank}
			<div class="paiH_B">
				<div class="first">
					{php echo $k+1}
				</div>
				<div class="second">
					<img src="{$rank['member_avatar']}" alt="">
				</div>
				<div class="thirdly">
					<p>{$rank['member_nickname']}</p>
				</div>
				<div class="fourth">
					<p>{$rank['reward']}元</p>
				</div>
			</div>
			{/loop}
		</div>
	</div>
{template 'footer'}
