{template 'header'}
	{template 'style'}
	<link rel="stylesheet" href="{MODULE_URL}static/css/cash.css">
	 <!-- 头部 -->
    <div class="top_W bgcolor">
        <div class="topB">
            <span class="guanB">
                ×
            </span>
            提现
        </div>
    </div>

    <!-- logo -->
    <div class="logo">
        <img src="{MODULE_URL}static/img/logo.gif" alt="">
    </div>

    <!-- 可提现金额 -->
    <h3 class="tiX">
        可提现金额
    </h3>

    <!-- 金额 -->
    <h3 class="jinE">
        {if empty($member_reward)}&yen;0.00{else}&yen;{$member_reward}{/if}
    </h3>

    <!-- 立即提现 -->
    <div class="immediately bgcolor" id="cash">
        立即提现
    </div>

    <!-- 达到指定金额方可提现 -->
    <p class="appoint">
        最低提现金额为{if empty($this->settings['cash_low'])}1{else}{php echo floatval($this->settings['cash_low'])}{/if}元
    </p>
	
{template 'footer'}
<script>
	$("#cash").on('click',function(){
		util.loading().show();
		$.ajax({
			url:"{php echo $this->createMobileUrl('cash',array('cash'=>1))}",
			data:{token:"{$_W['token']}",submit:1},
			type:"POST",
			dataType:"json",
			success:function(res){
				util.loading().hide();
				if(res.code ==0){
					util.toast('123');
					alert('提现申请已提交!');
				}else{
					util.toast('123');
					alert(res.error || '提交失败');
				}
			
			}
		
		})
		
	
	
	})

</script>