{template 'exchange_header'}
	
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/exchange_center.css"/>
	
	<header>
        <img src="{MODULE_URL}static/img/index3.png" alt="" onclick="goback()">
        <p>个人中心</p>
		<p></p>
    </header>
    <div class="weixin">
        <img src="{$_SESSION['avatar']}" alt="">
        <span>{$_SESSION['nickname']}</span>
    </div>
    <div class="my">
        <a class="lianJ" href="{php echo $this->createMobileUrl('exchange_show_order')}">
            <div class="top">
                <p>我的订单</p>
                <p>
                    <span>查看全部</span>
                    <img src="{MODULE_URL}static/img/centermy.jpg" alt="">
                </p>
            </div>
        </a>
        <div class="bottom">
            <a class="lianJ" href="{php echo $this->createMobileUrl('exchange_show_order')}#3">
                <div>
                    <img src="{MODULE_URL}static/img/center02.jpg" alt="">
                    <p>待发货</p>
                </div>
            </a>
            <a class="lianJ" href="{php echo $this->createMobileUrl('exchange_show_order')}#2">
                <div>
                    <img src="{MODULE_URL}static/img/center03.jpg" alt="">
                    <p>待收货</p>
                </div>
            </a>
            <a class="lianJ" href="{php echo $this->createMobileUrl('exchange_show_order')}#1">
                <div>
                    <img src="{MODULE_URL}static/img/center04.jpg" alt="">
                    <p>已完成</p>
                </div>
            </a>
        </div>
    </div>
    <section>
        <ul>
			<li>
                <a class="lianJ" href="{php echo $this->createMobileUrl('exchange_show_order')}">
                    <div>
                    <img src="{MODULE_URL}static/img/centersection01.jpg" alt="">
                    <span>我的兑换</span> 
                    </div>
                </a>
                <img src="{MODULE_URL}static/img/centermy.jpg" alt="">
            </li>
            <li>
                <a class="lianJ" href="{php echo $this->createMobileUrl('krypton')}">
                    <div>
                    <img src="{MODULE_URL}static/img/centersection03.jpg" alt="">
                    <span>积分充值</span> 
                    </div>
                </a>
                <img src="{MODULE_URL}static/img/centermy.jpg" alt="">
            </li>
            <li onclick="kefu()">
                <a class="lianJ" href="javaScript:;">
                    <div>
                    <img src="{MODULE_URL}static/img/centerseection03.jpg" alt="">
                        <span>联系客服</span> 
                    </div>
                </a>
                <img src="{MODULE_URL}static/img/centermy.jpg" alt="">
            </li>
        </ul>  
    </section>
	<footer>
        <div id="footer1">
            <a href="{php echo $this->createMobileUrl('exchange');}">
                <img src="{MODULE_URL}static/img/footer2.png" alt="">
                <p>首页</p>
            </a>
        </div>
        <div id="footer4">
            <a href="#">
                <img src="{MODULE_URL}static/img/footer3.gif" alt="">
                <p>我的</p>
            </a>
        </div>
    </footer>
	<div id="kefu" style="width: 100%;height: 100%;position: absolute;top: 0;background-color: rgba(0, 0, 0,0.41);z-index: 2;display:none;">
		<img src="{php echo toimage($this->settings['qrcode'])}" style="width:80%;position: relative;left: 10%;top: 1rem;"/>
	
	</div>
	<script>
		function kefu(){
			$("#kefu").show();
		
		}
		$("#kefu").on('click',function(){
			$(this).hide();
		
		})
	</script>
{template 'exchange_footer'}