<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
		{if !empty($this->settings['web_title'])}
		{php echo $this->settings['web_title']} -
	
		{/if}
		积分商城
		
	</title>
	{php echo register_jssdk(false);}
	<script src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js"></script>
	<script>
		function goback(){
		
			history.go(-1);
		}
	</script>
</head>
<body>