{template 'header'}
	{template 'style'}
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/global.css" />
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/personal.css" />
	<style>
		.top-list .roll{
			width:100%;
			overflow:hidden;
			text-indent:3rem;
			background:url({MODULE_URL}static/img/2019-04-02_145119.png) no-repeat left center;
			background-size:3rem 3rem;
			color:#fff;
			height:2rem;
			line-height:2rem;
		}
		
		.game-url .game-icon{
			width:2rem;
			background:url({php echo $this->settings['game_icon'] ==''?MODULE_URL.'static/img/7.png':toimage($this->settings['game_icon'])}) center;
			background-size:cover;
			margin-left:1rem !important;
			overflow:hidden;
		}
		
	</style>
	<div class="wrap">
    <div class="top-list bgcolor">
      <div class="cols1">  
          <div class="fl">ID:{$_SESSION['ids']}</div>
        <a href="{php echo $this->createMobileUrl('rank');}"><div class="fr">排行榜</div></a>
      </div>
      <div class="roll bgcolor"><marquee rolldelay="150" direction="left" align="middle">{php echo $this->settings['web_notice']}</marquee></div>
      <div class="cols-menu">我的上级<span class="fr">{$member['member_fid']}</span></div>
      <div class="cols-menu">游戏余额<span class="fr">{$member['member_score']}</span></div>
      <div class="cols-menu">佣金<span class="fr">{$member['reward']}</span></div>
    </div>
    <div class="content" style="overflow:hidden;">
		<div  class="t1">
			充值兑换
		  </div>
		<div class="t2" style="">
			<a href="{php echo $this->createMobileUrl('krypton');}" ><div class="fl bgcolor">充值</div></a>
			<a href="{php echo $this->createMobileUrl('exchange');}"><div class="fr fontcolor bordercolor">兑换</div></a>
		</div>
		<div class="t1">
			游戏专区
		</div>
		<a href="{php echo $this->createMobileUrl('index');}">
		  <div class="game-url">
			<div class="game-icon p"></div>
			<div class="game-desc p">
				<p style="font-weight:800;margin:0;">{php echo $this->settings['game_name']}</p>
				<p style="color:#ccc;font-size:12px;">{php echo $this->settings['game_remark']}</p>
			</div>
			<p class="game-right p">开始游戏></p>
		  </div>
		</a>
		<div class="menu-list">
			<ul style="overflow:hidden;margin:0;">
				<li id="addqq"><p style="width:100%;"><img src="{MODULE_URL}static/img/1.png"/></p><p style="postion:absolute;bottom:0;">联系客服</p></li>
				{loop $this->settings['web_menu'] $menu}
				<li><a href="{$menu['link']}"><p style="width:100%;"><img src="{php echo toimage($menu['icon']);}"/></p><p style="postion:absolute;bottom:0;">{$menu['font']}</p></a></li>
				{/loop}
			</ul>
		</div>
    </div>
  </div>
  <!-- 客服 -->    
    <div id="slideBox2" class="slideBox" style="">
        <div class="kftan_top">有什么疑问？请联系客服</div>
        <div class="bd">
            <ul>
				<li>
					<img src="{php echo toimage($this->settings['qrcode']);}" />
				</li>
            </ul>
        </div>
        
    </div>
	
    <div class="layer" style="display: none">
        <p></p>
    </div>
    <div class="layer_bg" style=""></div>
	
 <script>

	var addqq = function(){
		$('.layer_bg').show();
		
		$('#slideBox2').css({'opacity':'1','display':''});
		$('#slideBox2').css('top','2rem');
	}
	
	$('#addqq').click(function(event) {
	   addqq();
	});
	$('.layer_bg').click(function(event) {
		$('#slideBox2').css('opacity','0');
		$('#slideBox2').css('top','-50rem');
		$(".layer_bg,.layer,#layer_redpacket").fadeOut('400');
	});
</script> 
{template 'footer'}