*{
    margin:0;
    padding:0;
	font-family: "微软雅黑";
}
body,html{
    font-size: 26.67vw;
    height: 100%;
    /* display: -webkit-flex;
    flex-direction: column; */
    overflow-x: hidden!important;
    /* overflow-y: hidden!important;  */
    background: #FFF;
    -webkit-overflow-scrolling:touch;
}
img{
    display: block;
}
.beiJ{
    width: 100%;
    height: 115.8%;
    /* background: url('../img/beiJ.gif') no-repeat;
    background-size: 100% 100%; */
    overflow: hidden;
}
.beiJ .beiJ_T{
    width: 100%;
    height: 100%;
}
.beiJ .fanH{
    width: .37rem;
    height: .37rem;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 3%;
    top: 3%;
}
.beiJ .jiangB{
    width: 77%;
    height: 1.6rem;
    display: block;
    position: absolute;
    left: 14%;
    top: 10%;
}

.beiJ .caiD{
    width: 2.23rem;
    height: 1.35rem;
    display: block;
    position: absolute;
    left: 0;
    top: 20%;
}
.beiJ .caiD_copy{
    width: 2.23rem;
    height: 1.35rem;
    display: block;
    position: absolute;
    right: -36%;
    top: 27%;
}

.beiJ .jingY{
    width: 77%;
    height: .93rem;
    display: block;
    position: absolute;
    top: 34%;
    left: 12%;
}


/* 排行榜 */
.paiH{
    width: 100%;
    border-radius: .2rem;
    background: #7443e0;
    position: absolute;
    top: 52%;
    left: 0;
}
.paiH .paiH_T{
    width: 100%;
    height: .59rem;
}
.paiH .paiH_T .paiM{
    width: 20%;
    height: 100%;
    float: left;
    font-size: .16rem;
    color: #dcccff;
    text-align: center;
    line-height: .59rem;
}
.paiH .paiH_T .yongH{
    width: 20%;
    height: 100%;
    float: left;
    font-size: .16rem;
    color: #dcccff;
    text-align: center;
    line-height: .59rem;
}
.paiH .paiH_T .niC{
    width: 40%;
    height: 100%;
    float: left;
    font-size: .16rem;
    color: #dcccff;
    text-align: center;
    line-height: .59rem;
}
.paiH .paiH_T .jiF{
    width: 20%;
    height: 100%;
    float: left;
    font-size: .16rem;
    color: #dcccff;
    text-align: center;
    line-height: .59rem;
}


.paiH_B{
    width: 100%;
    height: .68rem;
    margin: 0 auto;
    background: #6f43e0;
    border-bottom: .01rem solid #7c56e3;
    margin-bottom: .2rem;
}
.paiH_B .first{
    width: 20%;
    height: 100%;
    float: left;
    font-size: .2rem;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    line-height: .68rem;
}

.paiH_B .second{
    width: 19%;
    height: 100%;
    float: left;
}
.paiH_B .second img{
    width:.6rem;
    border-radius: 50%;
    float: left;
}
.paiH_B .thirdly{
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
}
.paiH_B .thirdly p{
    font-size: .14rem;
    color: #dcccff;
    line-height: .68rem;
}
.paiH_B .fourth{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}
.paiH_B .fourth p{
    font-size: .14rem;
    color: #dcccff;
    line-height: .68rem;
}